@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Roles Listing";
}
<h2>@(ViewBag.Title)</h2>
<div class="row">
    <div class="col-sm-2">@Html.ActionLink("Create New Role", "Create")</div>
    <div class="col-sm-4">
        <a href="@Url.Action("UserList")" title="User Listing">
            <i class="glyphicon  glyphicon-registration-mark"></i>
            <span class="sr-only">Roles Management - User List</span>
            &brvbar;Roles Management - User Listing
        </a></div>
</div>

 <br />
<hr />
<div>
    <table class="table col-sm-5">
        @foreach (var role in Model)
        {
            <tr>
                <td><strong>@role.Name | </strong></td>
                <td>
                 @if ((@role.Name.Trim().ToLower() == "admin") || (@role.Name.Trim().ToLower() == "contributer") || (@role.Name.Trim().ToLower() == "moderator") || (@role.Name.Trim().ToLower() == "reviewer") || (@role.Name.Trim().ToLower() == "user"))
                 {
                     <snan class="glyphicon-signal"></snan><span>Built-in. May not be changed.</span>
                 }
                 else
                 {
                    <span onclick="return confirm('Are you sure to delete this role? \nThis role will be removed for EVERYONE!')"><a href="/Roles/Delete?RoleName=@role.Name" class="delLink" style="color:red;">Delete</a> | </span> 
                    @Html.ActionLink("Edit", "Edit", new { roleName = @role.Name })
                 }
                </td>
               
            </tr>
        }
    </table>
</div>

<div>
    <a href="@Url.Action("UserList")" title="User Listing">
        <i class="glyphicon  glyphicon-registration-mark"></i>
        <span class="sr-only">Roles Management - User List</span>
        &brvbar;Roles Management - User Listing
    </a> <br />
    <a href="@Url.Action("Index", "Admin")" title="Administration Dashboard">
        <i class="glyphicon glyphicon-dashboard"></i>
        <span class="sr-only">Administration Dashboard</span>
        &brvbar;Administration Dashboard
    </a><br />
    <a href="@Url.Action("Index", "Account")" title="User Management">
        <i class="glyphicon  glyphicon-user"></i>
        <span class="sr-only">User Management</span>
        &brvbar;User Management
    </a> <br />

</div>
