@model IEnumerable<FluffyCRM.ViewModels.UserList>

@{
    ViewBag.Title = "Roles Management - User Listing";
}

<h2>@ViewBag.Title </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
           
            @Html.ActionLink("Details", "UserDetail", new { id=item.UserId }) 
           
        </td>
    </tr>
}

</table>
<div>
    
    <a href="@Url.Action("Index", "Admin")" title="Administration Dashboard">
        <i class="glyphicon glyphicon-dashboard"></i>
        <span class="sr-only">Administration Dashboard</span>
        &brvbar;Administration Dashboard
    </a><br />
    <a href="@Url.Action("Index")" title="Roles Management">
        <i class="glyphicon glyphicon-registration-mark"></i>
        <span class="sr-only">Roles Management</span>
        &brvbar;Roles Management
    </a>
    <a href="@Url.Action("Index", "Account")" title="User Management">
        <i class="glyphicon  glyphicon-user"></i>
        <span class="sr-only">User Management</span>
        &brvbar;User Management
    </a> <br />
</div>