@model FluffyCRM.Models.JobTask

@{
    ViewBag.Title = "Job: Task Details";
    Layout = "";
}

@*<h2>Details</h2>*@
<br />
<div class="caption" >@(ViewBag.Title)</div>

    <div class="container boxcolor_1 col-lg-12">
        <div class="flright"> <span class="btn btn-sm btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</span><span class="btn btn-sm btn-default js-detailclose" data-url=''>Close</span></div>
        <div class="panel col-med-12 col-med-12 col-lg-12 col-xs-12  boxcolor_1">
            
            <div class="panel-heading color-p-1">
                <div class="col-lg-4">@(ViewBag.Title)&nbsp;</div> <div class="col-lg-4 center-block">&nbsp;@Html.DisplayNameFor(model => model.Id):&nbsp;<span>@Html.DisplayFor(model => model.Id)</span></div>
                
                <br />  
            </div>
                <div class="col-sm-6 col-med-4 col-lg-4  col-xs-12  ">
                    <span class="smalllabel">@Html.DisplayNameFor(model => model.Name)</span><br />
                    @Html.DisplayFor(model => model.Name)
                </div>
                <div class="col-sm-6 col-med-4 col-lg-4  col-xs-12  ">
                    <span class="smalllabel">  @Html.DisplayNameFor(model => model.CreatedBy)</span><br />
                    @Html.DisplayFor(model => model.CreatedBy)      <br />
                    @if (Model.ContactUserId != null)
                    {
                        <span> @Html.DisplayNameFor(model => model.ContactUserId)</span><br />
                        @Html.DisplayFor(model => model.ContactUserId)      <br />
                    }

                </div>
                <div class="col-sm-6 col-med-4 col-lg-4  col-xs-12  boxborder">
                    <span class="smalllabel">@Html.DisplayNameFor(model => model.StartDate)</span><br />
                    @Html.DisplayFor(model => model.StartDate)<br />
                    <span class="smalllabel">@Html.DisplayNameFor(model => model.DueDate)</span><br />
                    @Html.DisplayFor(model => model.DueDate)<br />
                    <span class="smalllabel">@Html.DisplayNameFor(model => model.CompletedDate)</span><br />
                    @Html.DisplayFor(model => model.CompletedDate)<br />

                </div>


            
          
            <div class="col-sm-6 col-med-6 col-lg-6  col-xs-12 ">
                <span class="smalllabel">@Html.DisplayNameFor(model => model.TicketId)</span><br />
                @Html.DisplayFor(model => model.TicketId)<br />
            </div>
            <div class="col-sm-6 col-med-6 col-lg-6  col-xs-12 ">
                <span class="smalllabel">@Html.DisplayNameFor(model => model.ParentTaskId)</span><br />
                <span>@Html.DisplayFor(model => model.ParentTaskId)</span> <br />
            </div>
                <div class="col-sm-12 col-med-12 col-lg-12  col-xs-12  boxborder">
                    <span class="smalllabel">@Html.DisplayNameFor(model => model.Description)</span><br />
                    @Html.DisplayFor(model => model.Description)<br />
                </div>

            @*<div class="col-med-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="btn btn-sm btn-default ">    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) </div> <div class="btn btn-sm btn-default js-detailclose" data-url=''>Close</div>
            </div>*@
            @*<div id="tasknotes" class="col-sm-12 col-med-12 col-lg-12  col-xs-12  ">


                <div class="col-sm-12 col-med-12 col-lg-12  col-xs-12  boxborder" >@Html.Action("_Notes", "TaskNotes", new { id = Model.Id })</div>
            </div>*@
        </div>
  
   

       
        <p>
            @*@Html.ActionLink("New Note", "CreateNote", "TaskNotes", new { id = Model.Id }, new { @class = "btn btn-default" })*@

            <label data-url='@Url.Action("CreateNote", new { id = Model.Id })' 
                   class="fl-newtasknote btn btn-default" >New Note</label>
        </p>
        <div id="newnote" class="col-sm-12 col-med-12 col-lg-12  col-xs-12">

        </div>

        <div id="notelist">@Html.Action("_Notes", "JobTasks", new { id = Model.Id }) </div>

    </div>


<script>
    $(document).on("click", '.fl-closetasknote', function (evt) {

        evt.preventDefault();
        evt.stopPropagation();

        var $details = $('#newnote');
        $details.html('').fadeOut();
        //$('.dropdown-toggle').dropdown();


    });

        $(document).on("click", '.fl-newtasknote', function (evt) {
           
            evt.preventDefault();
            evt.stopPropagation();
           // alert("Hi");
            var $details = $('#newnote'),
                url = $(this).data('url');

            $.get(url, function (data) {
                $details.html(data).fadeIn();
            });
          //  $('.dropdown-toggle').dropdown();


        });


        $(document).on("click", '.fl-notesave', function (event) {
           // event.preventDefault();
           // event.stopPropagation();

            var $details = $('#newnote'),
                url = $(this).data('url');

            $.post(url, function (data) {
                $details.html(data).fadeOut();
            });
          //  $('.dropdown-toggle').dropdown();
        });


        $(document).on("click", '.notedeletebtn', function (event) {
           // event.preventDefault();
          //  event.stopPropagation();
           
            url = $(this).data('url');
            //alert(url);
            $.get(url, { id: id, taskId: taskId })
            .done(function (response) {
                $("#list").html(response);
            });
          //  $('.dropdown-toggle').dropdown();
        });


</script>
