@model PagedList.IPagedList<FluffyCRM.Models.JobTask>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>@(ViewBag.Title)</h2>
@using (Html.BeginForm("Index", "JobTasks", FormMethod.Get))
{
    <p>
       Search: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)

        <input type="submit" value="Search" />
    </p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
          
        </th>
        <th>
           Description
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ProdId)
        </th>*@
        <th>
           Project   @*@Html.DisplayNameFor(model => model.ProjectId)*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ParentTaskId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>*@
        <th>
            State Date
        </th>
        <th>
            Completed Date
        </th>
        <th>
           Due Date
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LocalTime)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ProdId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ProjectId)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ParentTaskId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LocalTime)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
