@model FluffyCRM.Models.Ticket

@{
    ViewBag.Title = "Support Ticket Details";
}

<div>

    <div class="container-fluid noteform">
        <div class="panel col-med-12 col-med-12 col-lg-12 col-xs-12 panel-primary">
            <!-- HEADING  -->
            <div class="panel-heading color-p-1">
                <div class="col-sm-6 col-med-4 col-lg-4  col-xs-12">
                    @(ViewBag.Title)
                   
                </div>
                <div class="col-sm-6 col-med-4 col-lg-4  col-xs-12">
                    <span class="smalllabel">@Html.DisplayNameFor(model => model.TicketId)</span><br />
                    @Html.DisplayFor(model => model.TicketId)
                    <br />
                </div>
                <div class="col-sm-6 col-med-4 col-lg-4  col-xs-12">
                    &nbsp;<div class="text-right btn btn-info">@Html.ActionLink("Back to listing", "Index")</div>
                    <br />
                </div>
                <br /><br />
            </div>
           
            <!-- END HEADING  -->
            <div class="col-sm-6 col-med-4 col-lg-4  col-xs-12  ">
                <span class="smalllabel">@Html.DisplayNameFor(model => model.Subject)</span><br />
                @Html.DisplayFor(model => model.Subject)
            </div>

            <div class="col-sm-6 col-med-4 col-lg-4  col-xs-12  ">
                <span class="smalllabel">@Html.DisplayNameFor(model => model.CreateDate)</span><br />
                @Html.DisplayFor(model => model.CreateDate)<br />

                <!-- Staff and admin can see dates -->
                @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
                {
                <span class="smalllabel">@Html.DisplayNameFor(model => model.StartDate)</span><br />
                @Html.DisplayFor(model => model.StartDate)<br />

                <span class="smalllabel">@Html.DisplayNameFor(model => model.DueDate)</span><br />
                @Html.DisplayFor(model => model.DueDate)<br />

                <span class="smalllabel">@Html.DisplayNameFor(model => model.CompletedDate)</span><br />
                @Html.DisplayFor(model => model.CompletedDate)<br />
                }
                <!-- //TODO: need closed indicator --> 

            </div>

            <div class="col-sm-6 col-med-4 col-lg-4  col-xs-12  ">
                <span class="smalllabel">@Html.DisplayNameFor(model => model.Status)</span><br />
                @Html.DisplayFor(model => model.Status)<br />

                <span class="smalllabel">@Html.DisplayNameFor(model => model.CategoryId)</span><br />
                @Html.DisplayFor(model => model.CategoryId)<br />

            </div>

            <div class="col-sm-12 col-med-12 col-lg-12  col-xs-12  noteform">
                <span class="smalllabel">@Html.DisplayNameFor(model => model.Description)</span><br />
                @Html.DisplayFor(model => model.Description)<br />
            </div>

        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.TicketId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>


    
  <div class="btn btn-primary">
    @Html.ActionLink("Add",  "Create" , "TicketComments", new { id = Model.TicketId },null)</div> 
<div>@Html.Action("Index", "TicketComments", new { id = Model.TicketId })</div>

