@model IEnumerable<FluffyCRM.ViewModels.TicketList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Staff")|| User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
    else if (User.IsInRole("Client"))
    {
        @Html.ActionLink("Create New", "AddClientTicket")
    }
    else
    {
       
    }

</p>
<table class="table">
    <tr><td>Ticket#</td>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
 @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
 {

           <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
 }
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>

@foreach (var item in Model) {
    <tr><td>@Html.DisplayFor(modelItem => item.TicketId)</td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
    @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
    {
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletedDate) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
           
            @Html.ActionLink(" ", "Edit", new { id = item.TicketId }, new { @class = "glyphicon glyphicon-edit" }) &nbsp;
            @Html.ActionLink(" ", "Details", new { id = item.TicketId }, new { @class = "glyphicon glyphicon-file" })  &nbsp;
            @Html.ActionLink(" ", "Delete", new { id = item.TicketId }, new { @class = "glyphicon glyphicon-remove" })
        </td>
    }
    else if (User.IsInRole("Client"))
    {
        <td>

            @Html.ActionLink(" ", "Details", new { id = item.TicketId }, new { @class = "glyphicon glyphicon-file" })  &nbsp;
        </td>

    }
    </tr>
}

</table>
