@model IEnumerable<TicketCommentList>
@using FluffyCRM.ViewModels;
@{
    ViewBag.Title = "Index";
  
}




<div class="noteform table-striped table-responsive table-bordered table-condensed table-padded">
    <div class="row">
        <div class="col-lg-1">
            @Html.DisplayNameFor(model => model.TicketId)
        </div>
        <div class="col-lg-2">
            @Html.DisplayNameFor(model => model.Subject)
        </div>
        <div class="col-lg-3">
            @Html.DisplayNameFor(model => model.Description)
        </div>
        
        <div class="col-lg-2"> 
            @Html.DisplayNameFor(model => model.CreateDate)
        </div>
        <div class="col-lg-1">
            @Html.DisplayNameFor(model => model.Status)
        </div>
       
       
        <div class="col-lg-1">
            @Html.DisplayNameFor(model => model.CreatedByName)
        </div>
        <div class="col-lg-1"></div>
    </div>
   
@foreach (var item in Model) {
    <div class="row maccordion  expandtext">
        <div class="col-lg-1">
            @Html.DisplayFor(modelItem => item.TicketId)
        </div>
        <div class="col-lg-2">
            @Html.DisplayFor(modelItem => item.Subject)
        </div>
        <div class="col-lg-4 ">
            @(item.Description)
        </div>
        
        <div class="col-lg-1">
            @Html.DisplayFor(modelItem => item.CreateDate)
        </div>
        <div class="col-lg-1">
            @Html.DisplayFor(modelItem => item.Status)
        </div>
       
        
        <div class="col-lg-1">
            @Html.DisplayFor(modelItem => item.CreatedByName)
        </div>
        <div class="col-lg-2">
            <span>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) </span>
            <span> @Html.ActionLink("Details", "Details", new { id = item.Id }) </span>
            @if (User.IsInRole("Admin"))
            {
               
                <span>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</span>
            } 
        </div>
    </div>
}

</div>






